.side-menu {
  position: fixed;   
  padding: 1rem;
  overflow-y: auto;
  z-index: 10;     
  height: "100%";
  background-color: red;
  align-items: center;
}

.side-menu-title h4 {
  font-size: 16px;
  color: white;
  margin-bottom: 1rem;
}

.side-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 14px;
}

.menu-item .icon {
  font-family: monospace;
  color: #999;
}

.menu-item a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.menu-item a:hover {
  color: #ec5990;
}
