.code-block {
  position: relative;
  background-color: #0f111b;     
  color: #f8f8f2;
  padding: .8rem;
  border-radius: 8px;
  font-family: monospace;
  overflow-x: auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-button {
  position: absolute;
  right: 1rem;
  background-color: #444;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.text{
    color: white;
    font-size: .9rem;
}